body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    color: #333;
}

p {
    color: #666;
}

.active {
    background-color: chocolate;
}

/* Estilos específicos para o formulário */
form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #555;
}

.flash-error {
    background-color: #ffcccc;
    border: 1px solid #aa0000;
    color: #aa0000;
    padding: 10px;
    margin-bottom: 15px;
}

.flash-success {
    background-color: #ccffcc;
    border: 1px solid #00aa00;
    color: #00aa00;
    padding: 10px;
    margin-bottom: 15px;
}

.error {
    color: #aa0000;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Estilos para os posts */
.post-item {
    background-color: #f9f9f9; /* Cor de fundo do post */
    border: 1px solid #ccc; /* Borda do post */
    border-radius: 5px; /* Arredondamento da borda */
    margin-bottom: 20px; /* Espaçamento entre os posts */
    padding: 20px; /* Espaçamento interno do post */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ao redor do post */
}

.post-item:nth-child(odd) {
    background-color: #e6e6e6; /* Cor de fundo dos posts ímpares */
}

.post-content h2 {
    color: #333; /* Cor do título do post */
    margin-bottom: 10px; /* Espaçamento entre o título e a descrição */
}

.post-content p {
    color: #666; /* Cor da descrição do post */
}

